* {
    font-family: Verdana;
    color: blue;
}

body {
    background-color: black;
    background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 {
    padding-bottom: 30px;
}

#root {
    text-align: center;
    padding-top: 30px;
}

ul {
    margin: 0;
    list-style-type: none;
    padding-top: 30px;
}

li {
    margin: 10px 0;
}

#input {
    width: 150px;
    height: 15px;
}

button {
    width: 75px;
    height: 22px;
}